.clickWrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(43, 42, 42);

    transition: 0.5s ease;
    overflow: hidden;
}

.EPinformation {
    position: relative;
    left: 0%;
    top: -20%;
    width: 100%;
    background-color: black;
    opacity: 4;
    color: rgba(194, 193, 193, 0.767);
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s ease;
    z-index: 1;
}

/* 回去描述頁 */
#backIntro {
    width: 3%;
    position: absolute;
    left: 2%;
    filter: invert(1);
}

#backIntro>img {
    width: 100%;
}

/* 圖片內容 */
.Ccontent {
    width: 80%;
height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */


    /* left: 50%;  */

}


/* 預計要先藏起圖片 */
.Chide {
    height: 99%;
    display: none;
    position: relative;
    top: -2%;
    left: 7%;
}

/* 目前頁數 */
.nowPage {
    background-color: black;
    opacity: 4;
    color: rgba(194, 193, 193, 0.767);
    width: 8%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    position: relative;
    bottom: -10%;
    transition: 0.5s ease;
}

/* 往上的動畫  */
.gotop {
    transform: translateY(-400%);
    transition: all 0.5s ease;


}

/* 往下的動畫 */
.godown {
    transform: translateY(270%);
    transition: all 0.5s ease;
}

/* 左邊按鈕區 */
.Npage {
    height: 90%;
    width: 25%;
    left: 0%;
    bottom: 0%;
    position: absolute;
    /* background-color: red; */
    z-index: 1;
}

/* 右邊按鈕區 */
.Ppage{
    height: 100%;
    width: 25%;
    right: 0%;
    position: absolute;
    /* background-color: red; */
    z-index: 1;
}

.Npage:hover{
    cursor:url('../Img/icon/cursor/leftCursor.ico'),auto;
}
.Ppage:hover{
    cursor:url('../Img/icon/cursor/rightCursor.ico'),auto;
}

.showMenu{
    width: 100vh;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 25%;
    background-color: green;
    z-index: 2;
}